.handBox{
    color:white;
}


.cardBox{
    width: 26%;
    height:auto;
    box-shadow: 0px 8px 25px 18px rgba(0, 0, 0, 0.5);
    position: absolute;
    filter: grayscale(40%);
}

.formInput{
    padding-top:1.5rem;
    padding-bottom:0.75rem;
    font-weight:bold;
}

.modal-body .col-md-6{
    padding:1.5rem;
}

body{
    background-image: url("img/background.jpg");
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
}   

span{
    padding-left:1.0rem;
    padding-right:1.0rem;
}

.inputBox{  
    background-image : url("img/wood-back.jpg");
    box-shadow: 0px -20px 34px 14px rgba(0,0,0,0.75);
    border-top: solid 1px black;
}

.col-md-4{
    padding:0;
}

.btn-group .btn{
    width:5rem;
    filter: grayscale(40%);
    border-radius:0;
    font-size:1.1rem;
}

.picBox {
    padding-bottom:50%;
}

.chipBox{
    height:4rem;
    width:4rem;
    filter: grayscale(40%);
}

.chipBox:focus {
    outline:none;
}

.chipBox:hover {
    filter:brightness(1.3);
}

@keyframes blinkerRed {50% {color:red;}}

@keyframes blinkerGreen {50% {color:green;}}

@keyframes blinkerGrey {50% {color:grey;}}

